@import "src/Scss/Colors";

@mixin noContent{
  @media screen and (max-width: 576px) {
    content: "";
  }
}

.main--bg {
  background-color: $background-light;
  min-height: 100vh;
}

.box__user {
  background-color: $background-verySoft;
  padding: 1em;
  border-radius: 0.5em;
}

.tabs__profile {
  width: 20%;
  background: none;
  border: none;
  padding-bottom: 0.6em;
  &:hover {
    color: $text-hover
  }
  &:active {
    border-bottom: 2px solid $color-dark;
  }
}

.border--simple {
  color: #41464b;
  margin: 0;
}

.active--profile {
  border-bottom: 2px solid $color-dark;
}

.icon--profile {
  padding-right: 0.35em;
}

.viewProfile--icon , #my_profile:hover {
  color: $color-green;
}

.edit--icon, #edit_profile:hover {
 color: $color-purple
}

.email--icon {
  color: $color-lightBlue
}

.history--icon, #log_history:hover{
 color: $color-wellow;
}

.delete--icon, #delete_user:hover {
 color: $color-red
}

.icon--profile {
  padding-right: 0.35em;
}

#my_profile::after {
  font-size: 17px;
  content: " Mon Profil";
  @media screen and (max-width: 992px) {
    content: " Profil";
  }
  @include noContent;
}

#edit_profile::after {
  content: " Editer le profil";
  @media screen and (max-width: 992px) {
    content: " Editer";
  }
  @include noContent;
}

#verif_email::after {
  content: " Vérif.Email";
  @media screen and (max-width: 992px) {
    content: " Email";
  }
  @include noContent;
}

#log_history::after {
  content: " Historique log";
  @media screen and (max-width: 992px) {
    content: " Historique";
  }
  @media screen and (max-width: 768px) {
    content: " Histo.";
  }
  @include noContent;
}

#delete_user::after {
  content: " Supprimer";
  @media screen and (max-width: 992px) {
    content: " Suppr.";
  }
  @media screen and (max-width: 992px) {
    content: " Supp.";
  }
  @include noContent;
}
