@import "src/Scss/Colors";

.reset_page{
  background-color: $background-light;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-width: 100vw;
}

.box__confirmEmail {
  background: $background-light;
  height: 100vh;
}


.verify_connectBtn {
  color: $text-verySoft;
  background-color: $background-dark;
  max-width: max-content;
  padding: 0.7em 1.5em;
  text-decoration: none;
  border-radius: 18px;
  &:hover {
    color: $text-hover;
  }
}


