.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Gloabal class */

/* Global color */

/*.global_bgColor--darkSky {*/
/*  background-color: #07003b;*/
/*}*/

/*.global_bgColor--charcoal {*/
/*  background-color: #07003b;*/
/*}*/
/*.global_bgColor--white {*/
/*  background-color: #FFF;*/
/*}*/
/*.global_bgColor--whiteSmoke {*/
/*  background-color: #f6f7f9;*/
/*}*/
/*.global_bgColor--orange {*/
/*  background-color: #F18701;*/
/*}*/
/*.global_fontColor--whiteSmoke {*/
/*  color: #EFEFEF;*/
/*}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
